In [1]:
import pandas as pd
tips = pd.read_csv("https://www.dropbox.com/s/sidhaoro98iej0j/tips.csv?raw=1", index_col=0)
tips['tip_pct'] = tips["tip"]/tips['total_bill']
print(tips.head())

   total_bill   tip     sex smoker  day    time  size   tip_pct
1       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
2       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
3       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
4       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
5       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [5]:
tips["tip_pct"].value_counts

<bound method IndexOpsMixin.value_counts of 1      0.059447
2      0.160542
3      0.166587
4      0.139780
5      0.146808
         ...
240    0.203927
241    0.073584
242    0.088222
243    0.098204
244    0.159744
Name: tip_pct, Length: 244, dtype: float64>

In [7]:
print("tip mean and deviation is",tips["tip"].mean(),tips["tip"].std())

tip mean and deviation is 2.99827868852459 1.3836381890011826

In [9]:
tips[tips['tip_pct']=="mal-female"].mean()

total_bill    NaN
tip           NaN
sex           NaN
smoker        NaN
day           NaN
time          NaN
size          NaN
tip_pct       NaN
dtype: object

In [10]:
tips1=tips.drop("tip_pct",axis=1)

In [11]:
tips1.head(5)

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
tips3=tips["size"]

In [16]:
tips3.head()

1    2
2    3
3    3
4    2
5    4
Name: size, dtype: int64

In [18]:
len(tips)

244

In [20]:
tips.head()

   total_bill   tip     sex smoker  day    time  size   tip_pct
1       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
2       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
3       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
4       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
5       24.59  3.61  Female     No  Sun  Dinner     4  0.146808